@{
    ViewBag.Title = "AdminLogin";
}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form action="~/Admin/LoginAdmin" method="post" role="form">
                        <fieldset>
                            <div class="form-group">
                                <input id="email" required class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                            </div>
                            <div class="form-group">
                                
                                @if (ViewBag.Error != "false")
                                {
                                    <span id="message" style="margin-bottom:10px;color:red;text-align:right">"Error in Loging In: Email or Password is invalid..."</span>                                   
                                }                            
                            </div>
                            <div class="form-group">
                                <input required class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>
                            <div class="form-group">
                                <input id="submit_btn" class="btn btn-lg btn-success btn-block" type="submit" value="Login" />
                            </div>                           
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@*@section scripts{
    $(document).ready(function{
    $('#message').hide();});
}*@
