@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Punjab University College of Information Technology<br />
    Mall Road, Lahore, punjab, Pakistan<br />
    <abbr title="Phone"><span class="glyphicon glyphicon-phone"></span>0321-1234567890</abbr>
    425.555.0100
</address>

<address>
    <strong>Email</strong>   <a href="mailto:info@pakshop.com">Support@example.com</a><br />
</address>